.btn{
    background-image: linear-gradient(to right,rgb(253, 233, 50),rgb(201, 7, 7),rgb(58, 231, 58));
    padding: 10px;
    width: 230px;
    border-radius: 5px;
    box-shadow: 4px 5px 4px darkgrey;
    color: aliceblue;
    font-size: 24px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 35px 0px;

}
.btn:hover{
    background: rgb(8, 228, 144);
    border: 2px solid rgb(129, 129, 135);
    color: black;
  
}